<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DBManager</servlet-name>
        <servlet-class>base.DBManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Top</servlet-name>
        <servlet-class>ec.Top</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>ec.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Item</servlet-name>
        <servlet-class>ec.Item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>ec.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>ec.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationConfirm</servlet-name>
        <servlet-class>ec.RegistrationConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationComplete</servlet-name>
        <servlet-class>ec.RegistrationComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>ec.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyConfirm</servlet-name>
        <servlet-class>ec.BuyConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyComplete</servlet-name>
        <servlet-class>ec.BuyComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyData</servlet-name>
        <servlet-class>ec.MyData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyHistory</servlet-name>
        <servlet-class>ec.MyHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyUpdate</servlet-name>
        <servlet-class>ec.MyUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyUpdateResult</servlet-name>
        <servlet-class>ec.MyUpdateResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyDelete</servlet-name>
        <servlet-class>ec.MyDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyDeleteResult</servlet-name>
        <servlet-class>ec.MyDeleteResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDataDTO</servlet-name>
        <servlet-class>ec.UserDataDTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDataDAO</servlet-name>
        <servlet-class>ec.UserDataDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserData</servlet-name>
        <servlet-class>ec.UserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ECHelper</servlet-name>
        <servlet-class>ec.ECHelper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginerror</servlet-name>
        <servlet-class>loginerror</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheck</servlet-name>
        <servlet-class>ec.LoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>ec.Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartData</servlet-name>
        <servlet-class>ec.CartData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDataDAO</servlet-name>
        <servlet-class>ec.CartDataDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDataDTO</servlet-name>
        <servlet-class>ec.CartDataDTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchData</servlet-name>
        <servlet-class>ec.SearchData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AAAAAAAAAA</servlet-name>
        <servlet-class>ec.AAAAAAAAAA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyHi</servlet-name>
        <servlet-class>ec.MyHi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>H</servlet-name>
        <servlet-class>ec.H</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBManager</servlet-name>
        <url-pattern>/DBManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Top</servlet-name>
        <url-pattern>/Top</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Item</servlet-name>
        <url-pattern>/Item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationConfirm</servlet-name>
        <url-pattern>/RegistrationConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationComplete</servlet-name>
        <url-pattern>/RegistrationComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyConfirm</servlet-name>
        <url-pattern>/BuyConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyComplete</servlet-name>
        <url-pattern>/BuyComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyData</servlet-name>
        <url-pattern>/MyData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyHistory</servlet-name>
        <url-pattern>/MyHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyUpdate</servlet-name>
        <url-pattern>/MyUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyUpdateResult</servlet-name>
        <url-pattern>/MyUpdateResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyDelete</servlet-name>
        <url-pattern>/MyDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyDeleteResult</servlet-name>
        <url-pattern>/MyDeleteResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDataDTO</servlet-name>
        <url-pattern>/UserDataDTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDataDAO</servlet-name>
        <url-pattern>/UserDataDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserData</servlet-name>
        <url-pattern>/UserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ECHelper</servlet-name>
        <url-pattern>/ECHelper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginerror</servlet-name>
        <url-pattern>/logincerror</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheck</servlet-name>
        <url-pattern>/LoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartData</servlet-name>
        <url-pattern>/CartData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDataDAO</servlet-name>
        <url-pattern>/CartDataDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDataDTO</servlet-name>
        <url-pattern>/CartDataDTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchData</servlet-name>
        <url-pattern>/SearchData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AAAAAAAAAA</servlet-name>
        <url-pattern>/AAAAAAAAAA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyHi</servlet-name>
        <url-pattern>/MyHi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>H</servlet-name>
        <url-pattern>/H</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
